@import "../styles/globals.css";

@layer base {
  :root {
    @apply font-sans;
  }
}

@keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 256px 224px;
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion) {
  *,
  ::before,
  ::after {
    animation: none !important;
  }
}

.tasa-orbiter-font {
  font-family: "TASA Orbiter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.box {
  position: relative;
  background: #fff;           /* your normal content background */
  border-radius: 12px;
  border-color: red;
}

.box::after {
  content: "";
  position: absolute;
  inset: 0;                   /* top/right/bottom/left: 0 */
  pointer-events: none;       /* overlay doesn't block clicks */
  opacity: 1;              /* fade it */
  /* background: repeating-linear-gradient(
    135deg,                  
    rgba(255, 0, 0, 1) 0 8px,  
    rgba(255, 0, 0, 0) 8px 20px
  ); */
  background: repeating-linear-gradient(
  135deg,
  rgba(255, 221, 0, 0.6) 0 16px,
  rgba(0, 0, 0, 0.6) 16px 32px
);
}

.grid-bg {
  background-color: #e5e5f7;
  opacity: 0.8;
  background: radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent) 25px 25px, linear-gradient(#444cf7 2px, transparent 2px) 0 -1px, linear-gradient(90deg, #444cf7 2px, #e5e5f7 2px) -1px 0;
  background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
}
